<div id='form-step-1'class='hide form-fields'>
	<div id="nointernet" class="hide">
	<p class='bold'>If you don't have internet access at your home, please indicate the reason why:</p>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :whynoaccess, { id: 'nointernet_notaffordable', data: { target: '#form-step-1' } }, 'No Internet', false %>
      <%= label_tag :nointernet_notaffordable, "Internet is not affordable".html_safe %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :whynoaccess, { id: 'nointernet_notavailable', data: { target: '#form-step-1' } }, 'No Internet', false %>
      <%= label_tag :nointernet_notavailable, "Internet is not available in my area".html_safe %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :whynoaccess, { id: 'nointernet_limitations', data: { target: '#form-step-1' } }, 'No Internet', false %>
      <%= label_tag :nointernet_limitations, " I have physical limitations (i.e. eyesight/disability)".html_safe %>
    </div>


	<div class='checkboxes-container hide' id="connected-with">
        <p class='bold'>I am currently connected to the internet from:</p>
        <div class='col-md-6'>
          <%= f.select(:connected_with, connected_list, {disabled: '', selected: ''}, class: 'form-control pull-right') %>
        </div>
	</div>
	</div>

  <%= button_tag 'Let\'s do this!', type: 'button', id: 'testing_for_button', disabled: true, class: 'primaryBtn' %>

  <%= render 'bottom_description' %>
</div>
