<div id='region-form-step-0' >
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css' type='text/css' />
  <script type='application/javascript'>
  var ALGOLIA_APP_ID = '<%= ENV['ALGOLIA_APP_ID'] %>';
  var ALGOLIA_API_KEY = '<%= ENV['ALGOLIA_API_KEY'] %>';
  </script>

<% # STEP 1 HAVE ACCESS %>
  <div class='checkboxes-container' id="access-div">

    <p class='bold'>Seleccione una de las opciones a continuación:</p>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :access, { id: 'access_have', data: { target: '#form-step-1' } }, 'Have access', false %>
      <%= label_tag :access_have, "Tengo acceso a Internet en mi casa.".html_safe %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :access, { id: 'access_donothave', data: { target: '#form-step-1' } }, 'No access', false %>
      <%= label_tag :access_donothave, "NO tengo acceso a Internet en mi casa.".html_safe %>
    </div>
  </div>


  <div class='checkboxes-container hide' id="agree-div">
    <div class='checkbox checkbox-info'>
		<%= check_box_tag(:agree) %>
		<%= label_tag(:agree, @disclaimerlink) %>
    </div>
   </div>

<% # STEP 2 HOW CONNECTED  OR WHY NOT CONNECTION  %>
  <div id="connectedornot-div" class="checkboxes-container hide">
	<div id="connected-with" class="hide">
		<p class='bold'>I am currently connected to the internet from:</p>

		<div class='checkbox checkbox-info'>
			<%= f.check_box :connected_with, { id: 'connected_with_wired', data: { target: '#form-step-1' } }, 'Wired', false %>
			<%= label_tag :connected_with_wired, "Wired connection. This means you use a cable to connect your device (laptop, desktop) to your modem.".html_safe %>
		</div>

		<div class='checkbox checkbox-info'>
			<%= f.check_box :connected_with, { id: 'connected_with_wifi', data: { target: '#form-step-1' } }, 'Wifi', false %>
			<%= label_tag :connected_with_wifi, "Wifi connection. This means you use wifi to connect your device (desktop, laptop, phone) to your modem.".html_safe %>
		</div>

		<div class='checkbox checkbox-info'>
			<%= f.check_box :connected_with, { id: 'connected_with_cellular', data: { target: '#form-step-1' } }, 'Cellular', false %>
			<%= label_tag :connected_with_cellular, "Cellular. This means you use a mobile phone service (tmobile, verizon, etc.) to connect to the internet (directly or via a mobile hot spot".html_safe %>
		</div>

		<div class='checkbox checkbox-info'>
			<%= f.check_box :connected_with, { id: 'connected_with_notsure', data: { target: '#form-step-1' } }, 'Not sure', false %>
			<%= label_tag :connected_with_notsure, "I\'m not sure. (That\'s ok! Please still take the test)".html_safe %>
		</div>
	</div>


	<div id="nointernet" class="hide">
		<p class='bold'>Si no tiene acceso a Internet en su casa, indique el motivo:</p>

		<div class='checkbox checkbox-info'>
			<%= f.check_box :whynoaccess, { id: 'nointernet_notaffordable', data: { target: '#form-step-1' } }, 'Not affordable', false %>
			<%= label_tag :nointernet_notaffordable, "Internet no es asequible.".html_safe %>
		</div>

		<div class='checkbox checkbox-info'>
			<%= f.check_box :whynoaccess, { id: 'nointernet_notavailable', data: { target: '#form-step-1' } }, 'Not available', false %>
			<%= label_tag :nointernet_notavailable, "Internet no está disponible en mi área.".html_safe %>
		</div>
	</div>

   </div>

<% # STEP 3 PRICE  %>
	<div id="price-div" class="hide">
		<%= f.label :monthly_price, class: 'col-md-6' do %>
			<p class='bold'>
		  
			<span id="price-text-connected">¿Cuál es el precio estimado que paga por mes? (opcional)<br></span>

			</p>
        <% end %>

        <div class='col-md-4 restricted-field text-left'>
          <%= f.number_field :monthly_price, within: 0..200, class: 'form-control pull-right numeric', disabled: false %>
		  <!-- <button type="button" id="enterpricebtn">ENTER</button> -->
          <span id='price_error_span' class='hide'>Error: This should not be greater than 200</span>
        </div>

	</div>

<% # STEP 4 ADDRESS  %>
   <div id="address-div" class="hide">
	<div id="addresswithinternet" class="hide">
		<p class='bold'>Introduzca su dirección.</p>
	</div>

	<div id="addresswithoutinternet" class="hide">
		<p class='bold'>Me gustaría registrar mi dirección como un lugar que no tiene Internet.</p>
	</div>

		<span id='location-address-input' class=''>
			<input type="search" id="address-input" placeholder="Introduzca su dirección"/>
		</span>
	</div>
		
<% # STEP 5 TEST BUTTON  %>
	 <div id="testbutton-div" class="hide">
		<span class='block-element'>
		<p class='bold'><%= button_tag 'Probar mi velocidad.', type: 'button', id: 'test-speed-btn', class: 'button button-primary', disabled: false %></p>
		</span>
	</div>

	<div id="submitbutton-div" class="hide">
		<span class='block-element'>
		<p class='bold'><%= button_tag 'Enviar', type: 'button', id: 'submit-btn', class: 'button button-primary', disabled: false %></p>
		</span>
	</div>

	<div id="noacess-notaffordable-div" class="hide">
		<p class='bold'>Gracias por su participación. Obtenga más información sobre programas del gobierno estatal y federal que ofrecen acceso a Internet con descuento: <a href="https://www.oregon.gov/puc/pages/oregon-lifeline.aspx" target="_blank">https://www.oregon.gov/puc/pages/oregon-lifeline.aspx</a></p>
	</div>

	<div id="noacess-noaccess-div" class="hide">
		<p class='bold'>Gracias por su participación.</p>
	</div>

</div>
