<div id='form-step-2a' class='hide form-fields'>
  <div class="row">
    <div class='form-group col-md-12'>
      <div class='row'>
        <%= f.label :connected_with, 'How are you connected?', class: 'col-md-6' %>
        
        <div class='col-md-6'>
          <%= f.select(:connected_with, connected_list, {disabled: '', selected: ''}, class: 'form-control pull-right') %>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <label class='text-left form-separator-margin'>
        The below questions are optional, but answering them will help determine if you are getting the internet speed you should be expecting.
      </label>
    </div>
  </div>

  <div class="row">
    <div class='form-group col-md-12'>
      <div class='row'>
        <%= f.label :monthly_price, class: 'col-md-6' do %>
          Estimated price you pay per month?

          <span rel='tooltip' class='glyphicon glyphicon-info-sign info-color' title='By providing your monthly internet cost, we help determine if you are getting the internet speed and value you should be expecting.'></span>
        <% end %>

        <div class='col-md-4 restricted-field text-left'>
          <%= f.number_field :monthly_price, within: 0..200, class: 'form-control pull-right numeric', disabled: true %>
          <span id='price_error_span' class='hide'>Error: This should not be greater than 200</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-md-12'>
      <div class='row'>
        <%= f.label :provider_down_speed, class: 'col-md-6' do %>
          What is your advertised download speed?
          <span rel='tooltip' class='glyphicon glyphicon-info-sign info-color' title='Your "advertised download speed" is how many Megabits Per Second (Mbps, a measure of internet speed), you have agreed to with your internet provider.'></span>
        <% end %>

        <div class='col-md-4 restricted-field text-left'>
          <%= f.number_field :provider_down_speed, within: 0..10000, class: 'form-control pull-right numeric', disabled: true %>
          <span id='speed_error_span' class='hide'>Error: This should not be greater than 10000</span>
        </div>

        <div id='mbps-container' class='col-md-1'>
          <span class='line-height-50 negative-margin-left-20 bold'>Mbps</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='form-group rating-container col-md-12'>
      <div class='row'>
        <%= f.label :rating, 'Is this service meeting your expectations for internet speed and value?', class: 'col-md-6' %>

        <div class='col-md-6'>
          <%= f.text_field :rating %>
        </div>
      </div>
    </div>
  </div>
  <div class='clearfix'></div>

  <div class='row'>
    <div class='form-group col-md-6 col-md-offset-6'>
      <div class='col-md-12 text-center'>
        <%= button_tag 'Test My Speed!!', type: 'button', class: 'test-speed-btn col-md-12' %>
        <p class='location-warning'>(Note: Please, allow to share your location to take a test.)</p>
      </div>
    </div>
  </div>

  <%= render 'bottom_description' %>
</div>
