<div class='social-sharing-links'>
  <span class='speeduplou'>#SpeedUpAmerica </span>
  <%= link_to "https://www.facebook.com/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSpeed-Up-America-416927695803950%2F", class:'social-share-btn', target: '_blank' do %>
    <%= image_tag 'facebook.png', width: 21 %> Share on Facebook
  <% end %>
  <%= link_to "https://twitter.com/share?text=I just tested my internet speed with Speed Up America! Check it out here:&url=#{request.url}&hashtags=speedupamerica", class: 'social-share-btn', target: '_blank' do %>
  <%= image_tag 'twitter.png', width: 21 %> Share on Twitter
  <% end %>
  <%= link_to "https://www.linkedin.com/sharing/share-offsite/?url=speedupamerica.com", class:'social-share-btn', target: '_blank' do %>
  <%= image_tag 'linkedin.png', width: 21 %> Share on LinkedIn
  <% end %>
</div>
