<div id='form-step-2c' class='hide form-fields'>
  <div class='form-group col-md-12'>
    <div class='row'>
      <%= f.label :internet_location, 'What type of internet are you testing?', class: 'col-md-6 text-center' %>

      <div class='col-md-6'>
        <%= f.select :internet_location, provider_list({provider_list_type: 'public-form'}), {}, class: 'form-control pull-right', disabled: true %>
      </div>
    </div>
  </div>

  <div class='form-group col-md-12'>
    <div class='row'>
      <%= f.label :connected_with, 'Connection Type?', class: 'col-md-6' %>

      <div class='col-md-6'>
        <%= f.select :connected_with, public_connected_list, {}, class: 'form-control pull-right', disabled: true %>
      </div>
    </div>
  </div>
  <%= render 'rating', f: f %>

  <%= render 'submit_button_and_description' %>
</div>
