<div id='form-step-1'>
  <div class='checkboxes-container'>
    <p class='bold'>What kind of internet connection are you testing?</p>
    <div class='checkbox checkbox-info'>
      <%= f.check_box :testing_for, { id: 'home_wifi', data: { target: '#form-step-2a' } }, 'Home Wifi', false %>
      <%= label_tag :home_wifi do %>
        Residential internet plan I pay for
      <% end %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :testing_for, { id: 'mobile_data', data: { target: '#form-step-2b' } }, 'Mobile Data', false %>
      <%= label_tag :mobile_data do %>
         Mobile internet plan I pay for
      <% end %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :testing_for, { id: 'commercial_data', data: { target: '#form_step_3' } }, 'Commercial Data', false %>
      <%= label_tag :commercial_data do %>
         Business owner testing the internet plan I pay for
      <% end %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :testing_for, { id: 'public_wifi', data: { target: '#form-step-2c' } }, 'Public Wifi', false %>

      <%= label_tag :public_wifi do %>
        Public or work internet I don't pay for
      <% end %>
    </div>
  </div>

  <%= button_tag 'Let\'s do this!', type: 'button', id: 'testing_for_button', disabled: true, class: 'primaryBtn' %>

  <%= render partial: 'shared/info_link' %>
</div>
