<div id='form-step-0'>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.0/mapbox-gl-geocoder.css' type='text/css' />

  <div class='checkboxes-container'>
    <p class='bold'>To put your speed test results on the map, we'd like to use your location.</p>
    <div class='checkbox checkbox-info'>
      <%= f.check_box :location, { id: 'location_geolocation', data: { target: '#form-step-1' } }, 'Location Geolocation', 'true' %>
      <%= label_tag :location_geolocation, "Use my browser's location".html_safe %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :location, { id: 'location_address', data: { target: '#form-step-1' } }, 'Location Address', false %>
      <%= label_tag :location_address, "Use my address".html_safe %>
    </div>

    <div class='checkbox checkbox-info'>
      <%= f.check_box :location, { id: 'location_disable', data: { target: '#form-step-1' } }, 'Location Disable', false %>
      <%= label_tag :location_disable, "Do not use my location".html_safe %>
    </div>
  </div>

  <%= button_tag 'Get My Location', type: 'button', id: 'location_button', disabled: true, class: 'hide button button-primary' %>

  <span id='location-address-input' class='hide'>
    <input type="search" id="address-input" placeholder="Search for an address"/>
  </span>

  <span class='block-element'>
    <%= button_tag 'Let\'s begin', type: 'button', id: 'location_next_button', class: 'button button-primary button-disabled', disabled: true %>
  </span>

  <p>We DO NOT store your personal data. We DO ask for your location to map internet speeds across America.</p>

</div>
