<div id='introduction'>
  <p>
    SpeedUpAmerica aims to provide on the ground truth about the Internet in America. Our national broadband map provides transparency: real Internet speeds received, actual prices paid, and level of service experienced. Check your speed and contribute to the map. We DO NOT collect personal data. We do ask for your location to map internet speeds across America.
  </p>

  <div class='options-container'>
    <ul class='list-inline'>
      <li>
        <%= button_tag type: 'button', id: 'take_test' do %>
          <%= image_tag 'take_the_test.png', class: 'take-test-img' %>
        <% end %>
          <p>Take the Test!!</p>
      </li>

      <li>
        <%= link_to result_page_path, data: {no_turbolink: true} do %>
          <%= image_tag 'view_results.png', width: '65%' %>
        <% end %>
        <p>View Results</p>
      </li>
    </ul>
  </div>

  <div class='text-center find-more-div'>
    Questions about speedupamerica.com? Find more information
    <%= link_to 'here.', 'https://github.com/Hack4Eugene/SpeedUpAmerica', target: '_blank', rel: 'noopener' %>
  </div>

  <div class='row'>
    <div class='col-lg-7 col-xs-11 col-sm-9 col-centered'>
      <%= render partial: 'shared/partners', locals: {
        label: 'SpeedUpAmerica partners:'
      } %>
    </div>

    <div class="maxmind-container">
      This product includes GeoLite2 data created by MaxMind, available from<br/>
      <a href="https://www.maxmind.com">https://www.maxmind.com</a>.
    </div>
  </div>
</div>
