<div id='introduction'>
  <p>
    The SpeedUpAmerica project is designed to help Americans understand the quality and cost of internet service provided to our citizens. By answering a few questions you can help increase transparency around internet speeds and costs for nationwide residents. We DO NOT collect personal data in any way, shape, or form. We do ask for your location to help determine if there are areas of America that are consistently experiencing slow internet speeds.
  </p>

  <div class='options-container'>
    <ul class='list-inline'>
      <li>
        <%= button_tag type: 'button', disabled: true, id: 'take_test' do %>
          <%= image_tag 'take_the_test.png', class: 'take-test-img' %>
        <% end %>
          <p>Take the Test!!</p>
      </li>

      <li>
        <%= link_to result_page_path, data: {no_turbolink: true} do %>
          <%= image_tag 'view_results.png', width: '65%' %>
        <% end %>
        <p>View Results</p>
      </li>
    </ul>
  </div>

  <div class='text-center find-more-div'>
    Questions about speedupamerica.com? Find more information
    <%= link_to 'here.', 'https://github.com/Hack4Eugene/SpeedUpAmerica', target: '_blank' %>
  </div>

  <div class='row'>
    <div class='col-lg-7 col-xs-11 col-sm-9 col-centered'>
      <div class='partnerLogos'>
        <p>SpeedUpAmerica partners:</p>

        <div class='row'>
          <%= link_to image_tag('companyLogos/tao.png'), '#' %>
          <%= link_to image_tag('companyLogos/us_ignite.png'), '#' %>
          <%= link_to image_tag('companyLogos/m_lab.png'), '#' %>
        </div>
      </div>
    </div>
  </div>
</div>
