<div id='introduction'>
  <p>
    The SpeedUp Louisville project is designed to help Louisville Metro understand the quality and cost of internet service provided to our citizens. By answering a few questions you can help increase transparency around internet speeds and costs for Louisville residents. We DO NOT collect personal data in any way, shape, or form. We do ask for your location to help determine if there are areas of Louisville that are consistently experiencing slow internet speeds.
  </p>

  <div class='options-container'>
    <ul class='list-inline'>
      <li>
        <%= button_tag type: 'button', disabled: true, id: 'take_test' do %>
          <%= image_tag 'take_the_test.png', class: 'take-test-img' %>
        <% end %>
          <p>Take the Test!!</p>
      </li>

      <li>
        <%= link_to result_page_path, data: {no_turbolink: true} do %>
          <%= image_tag 'view_results.png', width: '65%' %>
        <% end %>
        <p>View Results</p>
      </li>
    </ul>
  </div>

  <div class='text-center find-more-div'>
    Questions about speeduplouisville.com? Find more information
    <%= link_to 'here.', 'http://poweruplabs.co/introducing-speed-up-louisville/', target: '_blank' %>
  </div>

  <div class='row'>
    <div class='col-lg-7 col-xs-11 col-sm-9 col-centered'>
      <div class='partnerLogos'>
        <p>SpeedUpLouisville partners:</p>

        <div class='row'>
          <%= link_to image_tag('companyLogos/logo4.png'), '#' %>
          <%= link_to image_tag('companyLogos/logo1.png'), '#' %>
          <%= link_to image_tag('companyLogos/logo3.png'), '#' %>
          <%= link_to image_tag('companyLogos/logo2.png'), '#' %>
        </div>
      </div>
    </div>
  </div>
</div>
