<div class='container white-section'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='text-center'>
        <h1 class="margin-top-40 margin-bottom-20">About the Data</h1>
        <div class="data-count"><%= number_with_delimiter(@total_submissions) %></div>
        <div class="test-submit">Speed tests Submitted</div>
      </div>
    </div>

    <div class='residential-tests'>
      <div class='col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center residential-mobile-view'>
        <div><%= image_tag 'residential.png' %></div>
        <h4><%= number_with_delimiter(@home_submissions.count) %></h4>
        <p>Residential Internet Tests</p>
      </div>

      <div class='col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center residential-mobile-view'>
        <div><%= image_tag 'mobile_internet.png' %></div>
        <h4><%= number_with_delimiter(@mobile_submissions.count) %></h4>
        <p>Mobile Internet Tests</p>
      </div>

      <div class='col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center residential-mobile-view'>
        <div id="business-owner-img"><%= image_tag 'business_owner.png' %></div>
        <h4><%= number_with_delimiter(@business_submissions.count) %></h4>
        <p>Business Owner Tests</p>
      </div>

      <div class='col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center residential-mobile-view'>
        <div><%= image_tag 'public_internet.png' %></div>
        <h4><%= number_with_delimiter(@public_submissions.count) %></h4>
        <p>Work/Public Internet Tests</p>
      </div>
    </div>

    <div class='col-md-12'>
      <div class='speed-participation'>
        <h2 class='text-center margin-bottom-60'>Speed Test Participation by Zip Code:</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
            <div id='zip_code_map' class='stats-mapbox'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
