
<!-- @MAP_SWITCH -->
<!--
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
-->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://code.highcharts.com/highcharts.js'></script>

<div id='all-results'>
  <%= hidden_field_tag :root_url, root_url %>

  <div class='results-sharing-box'>
    <h4 class=''>Share this website to bring better internet service to America!</h4>
    <%= render partial: 'shared/social_sharing_links' %>
  </div>

  <div class='hidden-xs hide'>
    <div class='text-center'>
      <h2>City Wide Broadband Results</h2>
    </div>

    <% if all_results.blank? %>
      <p class='text-center'>There are no submissions yet.</p>
    <% else %>
      <div class='container'>
        <div>
          <div class='col-md-12 col-centered'>
            <div class="table-responsive bdrNone">
              <table>
                <thead>
                <tr>
                  <th></th>
                  <th>Submissions</th>
                  <th>Satisfaction</th>
                  <th>Advertised to Actual Speed Difference</th>
                  <th>Average $ per Mbps</th>
                </tr>
                </thead>
                <tbody>
                  <% all_results.each do |provider, submission| %>
                    <tr>
                      <td class='col-md-2'><%= provider %></td>
                      <td class='col-md-2'><%= submission['count'] %></td>
                      <td class='col-md-2'><%= text_field_tag :average_rating, filter_rating(submission['rating']), class: 'rating-loading average_rating' %></td>
                      <td class='col-md-2 <%= set_color(submission['ratio'])%>'><%= print_provider_ratio(submission['ratio']) %></td>
                      <td class='col-md-2'><%= "$#{submission['cost']}" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'statistics' %>
  <%= render 'about_speedup' %>
  <%= render 'stats_footer' %>

  <div class='modal fade' id='all_results_loading_bar' tabindex='-1' role='dialog' aria-labelledby='loadingbarlabel'>
    <div class='modal-dialog modal-sm'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h4 class='modal-title'>Loading..</h4>
        </div>
        <div class='modal-body'>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
              <%= image_tag 'ring-alt.gif', class: 'loader-image' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
