<div id='map-filters' class='filters col-xs-12 col-sm-4 col-md-4 col-lg-4'>
  <h3>Interact with the map!</h3>

  <ul class='speed-ranges'>
    <div>Download Speed</div>
    <li><span class='background-color-1'></span>>100 Mbps</li>
    <li><span class='background-color-2'></span>75 to 100 Mbps</li>
    <li><span class='background-color-3'></span>25 to 75 Mbps</li>
    <li><span class='background-color-4'></span>18 to 25 Mbps</li>
    <li><span class='background-color-5'></span>6 to 18 Mbps</li>
    <li><span class='background-color-6'></span>0 to 6 Mbps</li>
  </ul>

  <div class="service-provider-section">
    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-10'>
        <div class='provider'>
          <p>Internet Service Providers:</p>

          <div class='isps-filter'>
            <%= select_tag :provider, options_for_select(get_providers_list), { class: 'chosen-select filter', multiple: true, data: { placeholder: 'Select Client ISP to view' } } %>
            <%= hidden_field_tag :selected_provider %>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-10'>
        <div class='group-by'>
          <p>Group By:</p>

          <div class='group-by-filter'>
            <%= select_tag :group_by, options_for_select(Submission::MAP_FILTERS[:group_by].map { |k, v| [k.to_s.titleize, v] }), { class: 'chosen-select filter' } %>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-10'>
        <div class='test-type'>
          <p>Type:</p>

          <div class='group-by-filter'>
            <%= select_tag :test_type, options_for_select(Submission::MAP_FILTERS[:test_type].map { |k, v| ["#{k.to_s.titleize} Speed", v] }), { class: 'chosen-select filter' } %>
          </div>
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-sm-12 col-md-12 col-lg-10'>
        <div class='date-range'>
          <p>Date Range:</p>

          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 date-select'>
              <%= text_field_tag :start_date, '', class: 'filter date-range', placeholder: 'Start Date', readonly: true %>
                <span class="glyphicon glyphicon-calendar"></span>
            </div>

            <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 date-select'>
              <%= text_field_tag :end_date, '', class: 'filter date-range', placeholder: 'End Date', readonly: true %>
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>
