<script type='application/javascript'>
var MAPBOX_API_KEY = '<%= ENV['MAPBOX_API_KEY'] %>';
<% if defined?(submission) && defined?(submission.longitude) && defined?(submission.latitude) &&
  submission.longitude.nil? == false && submission.latitude.nil? == false %>
var MAPBOX_LOCATION = [<%= submission.longitude %>, <%= submission.latitude %>];
var MAPBOX_ZOOM = 9;
<% elsif %>
var MAPBOX_LOCATION = [-117.879376, 45.392022];
var MAPBOX_ZOOM = 5;
<% end %>
</script>

<div id='map-container'>
  <div class='row mapbox-heading'>
    <h3>View all tests from SpeedUpAmerica below:</h3>
  </div>
  <div>
    <div>
      <div id='all_results_map' class='map col-xs-12 col-sm-9 col-md-9 col-lg-9'></div>
      <div id='loader' class='col-xs-12 col-sm-9 col-md-9 col-lg-9 text-center'>
        <%= image_tag 'loader.gif' %>
        <div class='loading-spinner-text'>Loading Map Data...</div>
      </div>

      <%= render partial: 'filters' %>
    </div>
  </div>
</div>
