<div id='stats_filters' class='stats-filters'>
  <div class='row'>

    <div class='col-xs-12 col-sm-12 col-md-3 col-lg-4 filter-container'>
      <p>Type:</p>

      <%= select_tag :test_type, options_for_select(Submission::MAP_FILTERS[:test_type].map { |k, v| ["#{k.to_s.titleize} Speed", v] }), { id: 'stats_test_type',disabled: true,  class: 'chosen-select filter' } %>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 filter-container'>
      <p>Zip Codes:</p>

      <%= select_tag :zip_code, options_for_select(get_list_zip_code_values(Submission::ZIP_CODES)), { disabled: true, class: 'chosen-select filter', multiple: true } %>
      <%= hidden_field_tag :selected_zip_code %>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-4 col-lg-4 filter-container'>
      <p>Census Tracts:</p>

      <%= select_tag :census_code, options_for_select(get_list_census_code_values(Submission::CENSUS_CODES)), { disabled: true, class: 'chosen-select filter', multiple: true } %>
      <%= hidden_field_tag :selected_census_code %>
    </div>

    <div class="clearfix"></div>

    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 filter-container'>
      <p>Internet Service Providers:</p>

      <%= select_tag :provider, options_for_select(get_stats_providers_list), { id: 'stats_provider', disabled: true, class: 'chosen-select filter', multiple: true, data: { placeholder: 'Select Client ISP to view', selected_ids: @selected_provider_ids } } %>
      <%= hidden_field_tag :selected_stats_provider %>
    </div>
  </div>
</div>
