<%= render partial: 'shared/test_speed_header', locals: {title: 'SpeedUpLouisville Stats'} %>
<div class="clearfix"></div>

<div class='container white-section'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='text-center margin-top-40 margin-bottom-40'>Measuring Internet Service in Louisville</h1>
    </div>
  </div>

  <div class='row'>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 banner-static'>
      <%= image_tag 'banner.png' %>
    </div>

    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
      <div class="banner-text">
        Through www.speedupsanjose.com, San Jose residents have submitted over <%= number_with_delimiter(@total_submissions) %> internet speed tests to help improve internet service in our city!
      </div>
      <div class='clearfix'></div>
      <div class='improve-btn '>Visit www.speedupsanjose.com to contribute to improving internet service in Louisville!</div>
    </div>
  </div>
</div>

<%= render 'about_the_data' %>
<%= render 'home_test_report' %>
<%= render 'mobile_test_report' %>
<%= render 'public_test_report' %>
<%= render 'about_speedup' %>
<%= render 'stats_footer' %>
