<!DOCTYPE html>
<html>
<head>
  <%= meta_tags title: "#{yield(:title).present? ? yield(:title) : 'SpeedUpAmerica.com - Bring better internet service to America!'}",
                description: "#{yield(:description).present? ? yield(:description) : 'Internet speed test is brought to you by PowerUp Labs'}",
                twitter: {
                  site: "#{request.original_url}",
                  title: "#{yield(:title).present? ? yield(:title) : 'Speed Up America - Internet Speed Test'}",
                  description: "#{yield(:description).present? ? yield(:description) : 'Internet speed test is brought to you by PowerUp Labs'}",
                  image: image_url('logo.png'),
                },
                og: {
                  title: "#{yield(:title).present? ? yield(:title) : 'SpeedUpAmerica.com - Bring better internet service to Americans!'}",
                  type: 'website',
                  url: "#{request.original_url}",
                  description: "#{yield(:description).present? ? yield(:description) : 'I tested my internet speed with SpeedUpAmerica! Find out if you\'re getting the internet speed you are paying for.'}",
                  image: image_url('logo.png'),
                }
  %>
  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
  <% if Rails.env.production? == false %>
    <meta name="robots" content="noindex,nofollow">
  <% end %>

  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

</head>

<body class='<%= body_css_class %>'>
  <div class='wrapper-container'>
    <%= render "shared/#{header_file_name}" %>

    <%= render partial: 'shared/messages' %>

    <div class='yield-container'>
      <%= yield %>
    </div>
    <%= hidden_field_tag 'rails_env_constant', Rails.env, id: 'rails_env_constant' %>
  </div>

  <div class='hide'>
    <%= image_tag 'twitter.png', height: 40, width: 40, id: 'twitter-img' %>
    <%= image_tag 'facebook.png', height: 20, width: 20, id: 'facebook-img' %>
    <%= image_tag 'linkedin.png', height: 20, width: 20, id: 'linkedin-img' %>
  </div>
</body>
</html>

<script>
 $(function() {
   <%= yield :js_init %>
 });
</script>
