<!DOCTYPE html>
<html>
<head>

  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'/>
  <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.4"></script>
  <%= meta_tags title: "#{yield(:title).present? ? yield(:title) : 'SpeedUpAmerica.com - Bring better internet service to America!'}",
    description: "#{yield(:description).present? ? yield(:description) : 'Internet speed test and broadband map brought to you by SpeedUpAmerica'}",
    twitter: {
      site: "#{request.original_url}",
      title: "#{yield(:title).present? ? yield(:title) : 'Speed Up America - Internet Speed Test'}",
      description: "#{yield(:description).present? ? yield(:description) : 'SpeedUpAmerica aims to provide on the ground truth about the Internet in America. Our national broadband map provides transparency: real Internet speeds received, actual prices paid, and level of service experienced.'}",
      image: image_url('logo.png'),
    },
    og: {
      title: "#{yield(:title).present? ? yield(:title) : 'SpeedUpAmerica.com - Bring better internet service to America!'}",
      type: 'website',
      url: "#{request.original_url}",
      description: "#{yield(:description).present? ? yield(:description) : 'I tested my internet speed with SpeedUpAmerica! Find out if you\'re getting the internet speed you are paying for.'}",
      image: image_url('logo.png'),
    }
  %>

  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>

  <% if Rails.env.production? == false %>
    <meta name="robots" content="noindex,nofollow">
  <% end %>

  <!-- sentry.io -->
  <script src="https://browser.sentry-cdn.com/5.4.3/bundle.min.js" crossorigin="anonymous"></script>
  <script>
  Sentry.init({
    dsn: 'https://34760911653f40a18ba07c39a6a37002@sentry.io/1488146',
    environment: '<%= Rails.env %>'
  });
  </script>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

  <!-- Start of speedupamerica Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=a6c92328-7d1a-41d6-892a-c9cf0b2034a0"> </script>
  <!-- End of speedupamerica Zendesk Widget script -->

</head>

<body class='<%= body_css_class %>'>
  <div class='wrapper-container'>
    <%= render "shared/#{header_file_name}" %>

    <%= render partial: 'shared/messages' %>

    <div class='yield-container'>
      <%= yield %>
    </div>
    <%= hidden_field_tag 'rails_env_constant', Rails.env, id: 'rails_env_constant' %>
  </div>

  <div class='hide'>
    <%= image_tag 'twitter.png', height: 40, width: 40, id: 'twitter-img' %>
    <%= image_tag 'facebook.png', height: 20, width: 20, id: 'facebook-img' %>
    <%= image_tag 'linkedin.png', height: 20, width: 20, id: 'linkedin-img' %>
  </div>
</body>
</html>

<script>
 $(function() {
   <%= yield :js_init %>
 });
</script>
